{% assign title = include.title %}
{% assign description = include.description %}
{% assign gradient_style = include.gradient_style %}
{% assign icon = include.icon %}
{% assign fa_icon = include.fa_icon %}
{% assign url = include.url %}
{% assign date = include.date %}
{% assign authors = include.authors %}
{% assign categories = include.categories %}
{% assign style = include.style | default: "column" %}
{% assign show_read_more = include.show_read_more %}
{% assign client = include.client %}
{% assign thumbnail_size = include.thumbnail_size %}

<div class="card card-project card-{{ style }} {% if thumbnail %}card-has-thumbnail{% endif %} {% if icon or fa_icon %}card-has-icon{% endif %}">

  {% if thumbnail %}
    <div class="card-thumbnail {% if thumbnail_size %}card-thumbnail-{{ thumbnail_size }}{% endif %}">
      <!-- <a href="{{ url | relative_url }}"><img alt="{{ title }}" src="{{ thumbnail | relative_url }}"/></a> -->
    </div>
  {% endif %}

  <div class="card-content" style="padding-top: 20px !important;">
    <div class="card-title {% if gradient_style %}card-gradient-{{ gradient_style }}{% endif %}" style="align-content: center;">
      <h2 style="padding: 15px;color: black; stroke:white; font-size:x-large; ">
        {{title}}
        <!-- <a style="color: black; stroke:white; font-size:x-large; " href="{{ url | relative_url }}">{{ title }}</a> -->
      </h2>
    </div>
    {% if client %}
      <div class="card-client">
        {{ client }}
      </div>
    {% endif %}
  </div>
</div>