.heading {
  .heading-heading {
    h1 {
      font-size: 36px;
      letter-spacing: -1px;
      line-height: 1.1;
      font-weight: 700;
      font-family: $font-family-heading;

      @include media-breakpoint-up(md) {
        font-size: 86px;
        line-height: 1;
        width: 80%;
        letter-spacing: -2px;
      }

      strong {
        font-style: normal;
        text-decoration-line: underline;
        text-decoration-color: antiquewhite;
      }
    }
  }

  .heading-sub-heading {
    h1 {
      font-size: 36px;
      letter-spacing: -1px;
      line-height: 1.1;
      font-weight: 700;
      font-family: $font-family-heading;

      @include media-breakpoint-up(md) {
        font-size: 40px;
        line-height: 1;
        width: 80%;
        letter-spacing: -2px;
      }

      strong {
        font-style: normal;
        text-decoration-line: underline;
        text-decoration-color: antiquewhite;
      }
    }
  }

  .heading-sub-description {
    width: 90%;

    p {
      font-size: 22px;
      letter-spacing: -1px;
      line-height: 1.24;
      font-family: $font-family-base;
      color: var(--color-base-text-2);

      @include media-breakpoint-up(md) {
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 1.4;
      }
    }
  }

  .heading-description {
    width: 90%;

    p {
      font-size: 22px;
      letter-spacing: -1px;
      line-height: 1.24;
      font-family: $font-family-base;
      color: var(--color-base-text-2);

      @include media-breakpoint-up(md) {
        font-size: 26px;
        letter-spacing: 1px;
        line-height: 1.4;
      }
    }
  }

  .heading-heading+.heading-description {
    margin-top: 20px;

    @include media-breakpoint-up(md) {
      margin-top: 30px;
    }
  }

  .heading-badge {
    font-family: $font-family-monospace;
    color: var(--color-primary);
  }

  .heading-image {
    margin-top: 30px;

    img {
      max-width: 100%;
    }
  }
}

.whoweare {
  >div {
    padding: 14px 0 14px 0;

    @include media-breakpoint-up(md) {
      padding: 30px 20px 30px 20px;
    }
  }

  a {
    display: inline-block;
  }

  strong {
    font-weight: 600;
  }

  height: 400px;

  .whoweare-desc {
    font-size: xx-large;
    border: solid darkolivegreen;
    border-width: 0.3em;
  }

  .wwa-first {
    float: left;
    width: 50%;
    height: 60%;
  }

  .wwa-second {
    float: left;
    width: 50%;
    height: 40%;

  }

  .wwa-third {
    float:right;
    width: 50%;
    height: 40%;
  }

  .wwa-fourth {
    float: right;
    width: 50%;
    height: 60%;
  }
}

.background {
  >div {
    padding: 14px 0 14px 0;

    @include media-breakpoint-up(md) {
      padding: 10px 0 10px 0;
    }
  }

  a {
    display: inline-block;
  }

  strong {
    font-weight: 600;
  }

  .background-desc {
    padding-left: 20px;
  }
}