.heading {
  .heading-heading {
    h1 {
      font-size: 36px;
      letter-spacing: -1px;
      line-height: 1.1;
      font-weight: 700;
      font-family: $font-family-heading;

      @include media-breakpoint-up(md) {
        font-size: 86px;
        line-height: 1;
        width: 80%;
        letter-spacing: -2px;
      }

      strong {
        font-style: normal;
        text-decoration-line: underline;
        text-decoration-color: antiquewhite;
      }
    }
  }

  .heading-sub-heading {
    h1 {
      font-size: 36px;
      letter-spacing: -1px;
      line-height: 1.1;
      font-weight: 700;
      font-family: $font-family-heading;

      @include media-breakpoint-up(md) {
        font-size: 40px;
        line-height: 1;
        width: 80%;
        letter-spacing: -2px;
      }

      strong {
        font-style: normal;
        text-decoration-line: underline;
        text-decoration-color: antiquewhite;
      }
    }
  }

  .heading-sub-description {
    width: 90%;

    p {
      font-size: 22px;
      letter-spacing: -1px;
      line-height: 1.24;
      font-family: $font-family-base;
      color: var(--color-base-text-2);

      @include media-breakpoint-up(md) {
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 1.4;
      }
    }
  }

  .heading-description {
    width: 90%;

    p {
      font-size: 22px;
      letter-spacing: -1px;
      line-height: 1.24;
      font-family: $font-family-base;
      color: var(--color-base-text-2);

      @include media-breakpoint-up(md) {
        font-size: 26px;
        letter-spacing: 1px;
        line-height: 1.4;
      }
    }
  }

  .heading-heading+.heading-description {
    margin-top: 20px;

    @include media-breakpoint-up(md) {
      margin-top: 30px;
    }
  }

  .heading-badge {
    font-family: $font-family-monospace;
    color: var(--color-primary);
  }

  .heading-image {
    margin-top: 30px;

    img {
      max-width: 100%;
    }
  }
}

.whoweare {
  >div {
    padding: 14px 0 14px 0;

    @include media-breakpoint-up(md) {
      padding: 30px 20px 30px 20px;
    }
  }

  a {
    display: inline-block;
  }

  strong {
    font-weight: 600;
  }

  .whoweare-desc {
    font-size: xx-large;
    border: solid darkolivegreen;
    border-width: 0.3em;
    display: flex;
    /*Ensures the correct spacing for images and text */
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
  }

  .whoweare-desc img {
    max-width: 80px;
    max-height: 80px;
    display: inline-block;
  }

  /* Mobile Styles */
  @media (max-width: 767.98px) {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    /*Reset the height to be dynamic*/

    .whoweare-desc {
      flex: 1 1 100%;
      font-size: x-large;
      /* Adjusted font size for mobile */
      margin: 5px;
      float: none;
      width: auto;
      height: auto;
    }

  }

  /* iPad Styles (Portrait) */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    display: flex;
    /* Use Flexbox */
    flex-wrap: wrap;
    height: auto;

    .whoweare-desc {
      flex: 1 1 50%;
      font-size: x-large;
      float: none;
      width: auto;
      height: auto;
    }
  }

  /* iPad and Surface Pro Styles (Landscape) */
  @media (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
    display: flex;
    /* Use Flexbox */
    flex-wrap: wrap;
    height: auto;

    .whoweare-desc {
      flex: 1 1 50%;
      font-size: x-large;
      float: none;
      width: auto;
      height: auto;
    }

  }

  /* larger screens flex order */
  @media (min-width: 1367px) {
    display: block;

    /*Set to block for Desktop Design*/
    .whoweare-desc {
      float: none;
      width: auto;
      height: auto;
    }

    .wwa-first {
      order: 1;
      float: left;
      width: 50%;
      height: 60%;
    }

    .wwa-second {
      order: 4;
      float: left;
      width: 50%;
      height: 40%;
    }

    .wwa-third {
      order: 2;
      float: right;
      width: 50%;
      height: 40%;
    }

    .wwa-fourth {
      order: 3;
      float: right;
      width: 50%;
      height: 60%;
    }
  }
}

.background {
  >div {
    padding: 14px 0 14px 0;

    @include media-breakpoint-up(md) {
      padding: 10px 0 10px 0;
    }
  }

  a {
    display: inline-block;
  }

  strong {
    font-weight: 600;
  }

  .background-desc {
    padding-left: 20px;
  }
}