---
layout: default
body_classes: page-contact
---
<style>
  img {
    aspect-ratio: 16 / 9;
    width: 100%;
    object-fit: contain;
    transition: opacity 0.3s ease; /* Smooth opacity change */
  }

  img:hover {
    opacity: 0.8;
  }

    /* Media query for smaller screens */
  @media (max-width: 768px) {
    .col-4, .col-8 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .container > .row {
      flex-direction: column;
    }
    .heading-description, .heading-sub-description {
          padding-left: 5px !important;
    }
  }
</style>
<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        {% include framework/blocks/sections/heading.html
        title=page.title
        %}
      </div>
    </div>
  </div>
</div>

<script>
  function getFourthThursday(year, month) {
      // Start from the 1st day of the month
      let date = new Date(year, month, 1);
      let dayOfWeek = date.getDay();
      // Calculate the day of the month for the first Thursday
      let firstThursday = 1 + (4 + 7 - dayOfWeek) % 7;
      // Calculate the day of the month for the fourth Thursday
      let fourthThursday = firstThursday + 3 * 7;
      return new Date(year, month, fourthThursday);
  }

  function getNextFourthThursday() {
      const today = new Date();
      let year = today.getFullYear();
      let month = today.getMonth();
      let fourthThursday = getFourthThursday(year, month);

      // Check if the calculated fourth Thursday has already passed this month
      if (today > fourthThursday) {
          // Move to the next month
          month++;
          if (month > 11) {
              month = 0;
              year++;
          }
          fourthThursday = getFourthThursday(year, month);
      }

      return fourthThursday;
  }

  function displayUpcomingMeetingDate() {
      const upcomingMeetingDate = getNextFourthThursday();
      const options = { year: 'numeric', month: 'long', day: 'numeric' };
      document.getElementById('meeting-date').textContent = upcomingMeetingDate.toLocaleDateString(undefined, options);
  }

  window.onload = displayUpcomingMeetingDate;
</script>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <img src="../assets/images/gen/connect/join-conversation.jpg" alt="Join Conversation">
    </div>
    <div class="col-8">
      <div class="heading-sub-heading">
        <h1>Join the Conversation</h1>
      </div>

      <br />
      <div class="heading-description" style="padding-left: 20px;">
        <p>All are welcome to attend the monthly meeting<br />
          It is on the fourth Thursday of every month from 12 to 1PM EST. <br />
          During this meeting, project proposals, progress and dissemination are
          discussed.<br /><br />

          <b>Upcoming Meeting Date</b>
          <p style="padding-top: 5px;" id="meeting-date"></p><p>- 12 to 1PM EST</p>
          <br />
          Please join us via zoom at <a style="color: #0000EE;"
            href="https://ucsf.zoom.us/my/rileybove">https://ucsf.zoom.us/my/rileybove</a> </p>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row justify-content-center">
    <div class="col-4">
      <img src="../assets/images/gen/connect/join-collaboration.jpg" alt="Join Collaboration">
    </div>
    <div class="col-8">
      <div class="heading-sub-heading">
        <h1>Join the Collaboration</h1>
      </div>

      <br />
      <div class="heading-sub-description" style="padding-left: 20px;">
        <p><b>Submit Below</b></p>
      </div>

      <br />
      <div class="heading-description" style="padding-left: 25px;">
        <p>A brief paragraph including Investigator (name, institution, email) and ballpark cohort size or analytical
          skillset that could be included.</p>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row justify-content-center">
    <div class="col-4">
      <img src="../assets/images/gen/connect/leadtheproject.jpg" alt="Lead the Project">
    </div>
    <div class="col-8">
      <div class="heading-sub-heading">
        <h1>Lead a Project</h1>
      </div>

      <br />
      <div class="heading-description" style="padding-left: 20px;">
        <p>We welcome investigators who would like to leverage our collaborative infrastructure to pursue a scientific
          question of interest.</p>
      </div>

      <br />
      <div class="heading-sub-description" style="padding-left: 20px;">
        <p><b>Submit Below</b></p>
      </div>

      <br />
      <div class="heading-description" style="padding-left: 25px;">
        <p>A brief one-pager including Investigator (name, institution, email) and Project (title, brief synopsis (1
          paragraph), proposed participants, data sources, and analyses) details.</p>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <br />
        <br />
        <div class="heading-description" style="padding-left: 25px;">
          <p><b>Next Steps: </b>The advisory committee meets monthly to review submissions. We then engage with submitting investigators to
            finetune agreements and ethical reviews as well as analytical strategy, and pool participating centers to
            facilitate collaborations.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="heading-sub-heading" style="text-align: center;">
          <h1>Submit Form</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="section pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        {% include framework/global/forms/form-contact-formspree.html %}
      </div>
    </div>
  </div>
</div>