---
layout: default
body_classes: page-contact
---
<style>
      img {
      aspect-ratio: 16 / 9;
      width: 100%;
      object-fit: contain;
      &:hover {
        opacity: 0.8;
      }
    }
</style>
<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        {% include framework/blocks/sections/heading.html
        title=page.title
        %}
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <img src="../assets/images/gen/connect/join-conversation.jpg">
    </div>
    <div class="col-8">
      <div class="heading-sub-heading">
        <h1>Join the Conversation</h1>
      </div>

      <br />
      <div class="heading-description" style="padding-left: 20px;">
        <p>All are welcome to attend the monthly meeting on the second Tuesday of
          the month, 9am PT – noon EST. During this meeting, projects proposals, progress and dissemination are
          discussed.<br /><br />Please join us via zoom at <a
            href="https://ucsf.zoom.us/j/8378002473">https://ucsf.zoom.us/j/8378002473</a> </p>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row justify-content-center">
    <div class="col-4">
      <img src="../assets/images/gen/connect/join-collaboration.jpg">
    </div>
    <div class="col-8">
      <div class="heading-sub-heading">
        <h1>Join the Collaboration</h1>
      </div>

      <br />
      <div class="heading-sub-description" style="padding-left: 20px;">
        <p><b>Submit Below</b></p>
      </div>

      <br />
      <div class="heading-description" style="padding-left: 25px;">
        <p>A brief paragraph including Investigator (name, institution, email) and ballpark cohort size or analytical
          skillset that could be included.</p>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row justify-content-center">
    <div class="col-4">
      <img src="../assets/images/gen/connect/leadtheproject.jpg">
    </div>
    <div class="col-8">
      <div class="heading-sub-heading">
        <h1>Lead a Project</h1>
      </div>

      <br />
      <div class="heading-description" style="padding-left: 20px;">
        <p>We welcome investigators who would like to leverage our collaborative infrastructure to pursue a scientific
          question of interest.</p>
      </div>

      <br />
      <div class="heading-sub-description" style="padding-left: 20px;">
        <p><b>Submit Below</b></p>
      </div>

      <br />
      <div class="heading-description" style="padding-left: 25px;">
        <p>A brief one-pager including Investigator (name, institution, email) and Project (title, brief synopsis (1
          paragraph), proposed participants, data sources, and analyses) details.</p>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <br />
        <br />
        <div class="heading-description" style="padding-left: 25px;">
          <p><b>Next Steps: </b>The advisory committee meets monthly to review submissions. We then engage with submitting investigators to
            finetune agreements and ethical reviews as well as analytical strategy, and pool participating centers to
            facilitate collaborations.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="heading-sub-heading" style="text-align: center;">
          <h1>Submit Form</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="section pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        {% include framework/global/forms/form-contact-formspree.html %}
      </div>
    </div>
  </div>
</div>