---
layout: default
body_classes: page-blog
---

<style>
  .col-5-custom {
      flex: 0 0 auto;
      width: 20%;
  }

  /* Mobile Styles */
@media (max-width: 767.98px) {
     .col-5-custom {
          width: 100%; /* Full width on mobile */
        }
      }

  /* iPad Styles (Portrait) */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .col-5-custom {
          width: 50%; /* Full width on mobile */
        }
  }

  /* iPad and Surface Pro Styles (Landscape) */
  @media (min-width: 1025px) and (max-width: 1366px) and (orientation: landscape) {
    .col-5-custom {
          width: 25%; /* Full width on mobile */
        }

  }
</style>

<div class="section"  style="padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-12 heading-sub-heading">
        {% include framework/blocks/sections/heading.html
        subtitle=page.title
        description=page.description
        %}
      </div>
    </div>
  </div>
</div>

{% assign cards = site.data.network %}
{% if cards.size > 0 %}
<div class="section pt-0" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row">
      {% for card in cards %}
      <div style="padding-top: 40px;"
        class="col-12 col-5-custom mb-gutter mt-gutter {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mt-md-0">
        {% include theme/cards/card-network.html
        title=card.name
        thumbnail=card.photo
        degree=card.degree
        email=card.email
        institution=card.institution
        profile_link=card.link
        %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<div class="section" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-12 heading-sub-heading">
        {% include framework/blocks/sections/heading.html
        subtitle="Collaborating Investigators"
        description=page.description
        %}
      </div>
    </div>
  </div>
</div>


{% assign cards = site.data.ciparticipants %}
{% if cards.size > 0 %}
<div class="section pt-0" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row">
      {% for card in cards %}
      <div style="padding-top: 40px;"
        class="col-12 col-5-custom mb-gutter mt-gutter {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mt-md-0">
        {% include theme/cards/card-network.html
        title=card.name
        thumbnail=card.photo
        degree=card.degree
        email=card.email
        institution=card.institution
        profile_link=card.link
        %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<div class="section" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-12 heading-sub-heading">
        {% include framework/blocks/sections/heading.html
        subtitle="International Collaborators"
        description=page.description
        %}
      </div>
    </div>
  </div>
</div>

{% assign cards = site.data.international_col %}
{% if cards.size > 0 %}
<div class="section pt-0" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row">
      {% for card in cards %}
      <div style="padding-top: 40px;"
        class="col-12 col-5-custom mb-gutter mt-gutter {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mt-md-0">
        {% include theme/cards/card-network.html
        title=card.name
        thumbnail=card.photo
        degree=card.degree
        email=card.email
        institution=card.institution
        profile_link=card.link
        %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<div class="section" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-12 heading-sub-heading">
        {% include framework/blocks/sections/heading.html
        subtitle="Partners"
        description=page.description
        %}
      </div>
    </div>
  </div>
</div>


{% assign cards = site.data.partners %}
{% if cards.size > 0 %}
<div class="section pt-0" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="container">
    <div class="row">
      {% for card in cards %}
      <p style="padding: 5px 10px 5px 40px;">{{card.name}}</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}